<strong>Inscrição efetuada com sucesso</strong>
<p>
    <strong>Meetup: </strong> {{ title }} <br />
    <strong>Local: </strong> {{ location }} <br />
    <strong>Data/hora: </strong> {{ date }} <br />
    <small>
        Nos vemos lá!
    </small>
</p>
